<div class="dashboard-container">
  X:
  <input
    matInput
    type="number"
    [value]="x + ''"
    (input)="onXChange($event)"
    class="input"
    step=".1"
  />
  Y:
  <input
    matInput
    type="number"
    [value]="y + ''"
    (input)="onYChange($event)"
    class="input"
    step=".1"
  />
  Width:
  <input
    matInput
    type="number"
    [value]="width + ''"
    (input)="onWidthChange($event)"
    class="input"
    step=".1"
  />
  Height:
  <input
    matInput
    type="number"
    [value]="height + ''"
    (input)="onHeightChange($event)"
    class="input"
    step=".1"
  />

  <div class="widget-container">
    <ktd-grid
      cols="1"
      rowHeight="100"
      (dragStarted)="onDragStarted($event)"
      (resizeStarted)="onResizeStarted($event)"
      (dragEnded)="onDragEnded($event)"
      (resizeEnded)="onResizeEnded($event)"
      (layoutUpdated)="onLayoutUpdated($event)"
      [layout]="layout"
      [compactType]="compactType"
    >
      <ktd-grid-item id="widget" draggable="true" resizable="true">
        <div class="grid-item-content" id="box">
          <div class="box-red" [style.width.%]="redwidth"></div>
          <div class="box-yellow" [style.width.%]="yellowwidth"></div>
          <div class="box-green" [style.width.%]="greenwidth"></div>
        </div>
      </ktd-grid-item>
    </ktd-grid>
  </div>

  3-tuple:
  <input
    matInput
    [value]="threeTuple + ''"
    (input)="onThreeTupleChange($event)"
    class="input"
    step=".1"
  />
</div>
